{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
<div class="col-sm-offset-2 col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      Task Edit
    </div>
    <div class="panel-body">
      {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Update"/>
      {{ form_end(edit_form) }}
    </div>
  </div>

  <a class="btn btn-default" href="{{ path('task_index') }}">Back to the list</a>
</div>
{% endblock %}